<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <div class="col-8 offset-2">

    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation"  enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
<input name="listing[title]" value="<%=listing.title%>" class="form-control" placeholder="Add a catchy title" required>
<div class="invalid-feedback">Please enter the title</div>
</div>

<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control" required style="resize: none;"><%=listing.description%></textarea>
    <div class="invalid-feedback">Please enter a short description</div>
</div>

<div class="mb-3">
Original Listing Image <br>
<img class="img-fluid" src="<%=originalImageUrl%>">
</div>

<div class="mb-3">
    <label for="image" class="form-label" >Upload New Image</label>
    <input name="listing[image]" class="form-control" type="file">
    
</div>

<div class="mb-3">
    <label class="form-label">Choose categories:</label>
    <div>
      <input type="checkbox" id="rooms" name="listing[category][]" value="rooms" <% if (listing.category.includes('rooms')) { %> checked <% } %>  onchange="updateHiddenInput()" >
      <label for="rooms">Rooms</label>
    </div>
    <div>
      <input type="checkbox" id="mountains" name="listing[category][]" value="mountains" <% if (listing.category.includes('mountains')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="mountains">Mountains</label>
    </div>
    <div>
      <input type="checkbox" id="iconicCities" name="listing[category][]" value="iconic cities" <% if (listing.category.includes('iconic cities')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="iconicCities">Iconic Cities</label>
    </div>
    <div>
      <input type="checkbox" id="castles" name="listing[category][]" value="castles" <% if (listing.category.includes('castles')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="castles">Castles</label>
    </div>
    <div>
      <input type="checkbox" id="amazingPools" name="listing[category][]" value="amazing pools" <% if (listing.category.includes('amazing pools')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="amazingPools">Amazing Pools</label>
    </div>
    <div>
      <input type="checkbox" id="camping" name="listing[category][]" value="camping" <% if (listing.category.includes('camping')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="camping">Camping</label>
    </div>
    <div>
      <input type="checkbox" id="farms" name="listing[category][]" value="farms" <% if (listing.category.includes('farms')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="farms">Farms</label>
    </div>
    <div>
      <input type="checkbox" id="arctic" name="listing[category][]" value="arctic"<% if (listing.category.includes('arctic')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="arctic">Arctic</label>
    </div>
    <div>
      <input type="checkbox" id="domes" name="listing[category][]" value="domes" <% if (listing.category.includes('domes')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="domes">Domes</label>
    </div>
    <div>
      <input type="checkbox" id="boats" name="listing[category][]" value="boats"<% if (listing.category.includes('boats')) { %> checked <% } %>  onchange="updateHiddenInput()">
      <label for="boats">Boats</label>
    </div>  
    <div>
      <input type="checkbox" id="treehouses" name="listing[category][]" value="treehouses"<% if (listing.category.includes('treehouses')) { %> checked <% } %> onchange="updateHiddenInput()">
      <label for="treehouses">Treehouse</label>
    </div>  
    <div>
      <input type="checkbox" id="cabin" name="listing[category][]" value="cabin" <% if (listing.category.includes('cabin')) { %> checked <% } %>onchange="updateHiddenInput()">
      <label for="cabin">Cabin</label>
    </div>  
    <div>
      <input type="checkbox" id="national park" name="listing[category][]" value="national park"<% if (listing.category.includes('national park')) { %> checked <% } %> onchange="updateHiddenInput()">
      <label for="national park">National park</label>
    </div>  
    <div>
      <input type="checkbox" id="beach" name="listing[category][]" value="beach" <% if (listing.category.includes('beach')) { %> checked <% } %>onchange="updateHiddenInput()">
      <label for="beach">Beach</label>
    </div>  
     
<input name="categorySelected" id="categorySelected" value="1"  style="position: absolute; left: -9999px;" required>
<div class="invalid-feedback" id="categoryFeedback">Select at least one category</div>
</div>


<div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label" >Price</label>
        <input name="listing[price]"  value="<%=listing.price%>" class="form-control" placeholder="Enter price per night" required >
        <div class="invalid-feedback">Price should be valid</div> 
    </div>
    
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label" >Country</label>
        <input name="listing[country]" value="<%=listing.country%>" class="form-control" placeholder="Enter your country" required>
        <div class="invalid-feedback">Country should be valid</div>
    </div>

</div>



<div class="mb-3">
    <label for="location" class="form-label" >Location</label>
    <input name="listing[location]" value="<%=listing.location%>" class="form-control" placeholder="City, State" required >
    <div class="invalid-feedback">Location should be valid</div>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <button class="btn btn-dark edit-btn2 mt-3">Edit</button>
    </div>
  </div>
  
    </form>
    </div>
    </div>
    
    <script>
        function updateHiddenInput() {
          const checkboxes = document.querySelectorAll('input[name="listing[category][]"]');
          const hiddenInput = document.getElementById('categorySelected');
          const categoryFeedback = document.getElementById('categoryFeedback');
        
          // Check if any checkbox is checked
          const isChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
          
          // If checked, set hidden input value to '1', else set it to ''
          hiddenInput.value = isChecked ? '1' : '';
        }
        
        
        </script>